<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
<fieldset id="billing" data-hook>
  <%= form.fields_for :bill_address do |bill_form| %>
    <legend><%= t(:billing_address) %></legend>
    <div class="inner" data-hook="billing_inner">
      <p class="field" id="bfirstname">
        <%= bill_form.label :firstname, 'Имя' %><span class="req">*</span><br />
        <%= bill_form.text_field :firstname, :class => 'required' %>
      </p>

      <p class="field" id="baddress1">
        <%= bill_form.label :address1, t(:street_address) %><br />
        <%= bill_form.text_field :address1, :class => 'required2' %>
      </p>

      <p class="field" id="bcity">
        <%= bill_form.label :city, t(:city) %><br />
        <%= bill_form.text_field :city, :class => 'required2' %>
      </p>

      <%= bill_form.hidden_field :country_id, value: 211 %>

      <p class="field" id="bphone">
        <%= bill_form.label :phone, t(:phone) %><span class="req">*</span><br />
        <%= bill_form.text_field :phone, :class => 'required' %>
      </p>
    </div>
  <% end %>
</fieldset>
</div>

<hr class="clear" />
<div class="form-buttons" data-hook="buttons">
  <%= submit_tag "Готово", :class => 'continue button primary' %>
</div>